In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px

## Carga el dataset a analizar en la parte A con pandas y elimina los valores nulos y duplicados.

In [54]:
#Carga el dataset
df = pd.read_csv("titanic.csv")
print(f"El df orignialmente tenia {df.shape[0]} columnas.")

#Elimina los valores nulos
df_no_na = df.dropna()
df_no_na = df_no_na.drop_duplicates()
df_no_na.shape[0]
print(f"El dataframe sin duplicados ni na tiene {df_no_na.shape[0]} columnas.")

El df orignialmente tenia 891 columnas.
El dataframe sin duplicados ni na tiene 183 columnas.

### ¿Cuántas filas se han borrado?

In [22]:
f"Se han borrado {df.shape[0] - df_no_na.shape[0]} filas."

'Se han borrado 708 filas.'

### ¿En qué beneficia su eliminación?

In [ ]:
"Nos hará mas fácil el análisis puesto que los valores nulos nos pueden llevar a múltiples errores, tanto en representación como al computar métricas o algoritmos."

'Nos hará mas fácil el análisis puesto que los valores nulos nos pueden llevar a múltiples errores, tanto en representación como al computar métricas o algoritmos.'

### ¿Con `reset-index` resetea los índices para evitar problemas en los ejercicios siguientes.

In [55]:
df_no_na.reset_index(inplace=True)

In [ ]:
#¿De donde proceden estos valores nulos?
df.isnull().sum().where(lambda x: x > 0).dropna()

Age         177.0
Cabin       687.0
Embarked      2.0
dtype: float64

## Antes de empezar, determina si hay algún atributo no nos va a resultar útil y por qué.
El número de filas descartadas parece excesivo, es por esto que consideramos un analisis más delicado en este aspecto podría mejorar nuestras indagaciones.
- `PassengerId`: El Id del pasajero parece un dato innecesario, generalmente estos valores sirven de índices en las bases de datos y no contienen información más allá de ayudarnos a encontrar duplicados.
- `Ticket`: El número de tiquet carece de información más allá de facilitarnos una herramienta para encontrar duplicados.
- `Name`: El nombre del pasajero, a falta de una base de datos de famosos o personas importantes de la época, no nos sirve y asumiremos que es irrelevante.
- `Cabin`: Puesto que carecemos de información respecto a la ubicación de las diferentes cabinas y no sabemos como ordenarlas (i.e. cercania a una salida de emergencia, zonas que se inundaron primero) consideramos que utilizar este atributo sería contraproducente.

In [65]:
df.drop(labels=df.filter(["PassengerId", "Ticket", "Name", "Cabin"]), axis=1, inplace=True)

Puesto que hemos eliminado `Cabin` deberíamos reconsiderar nuestro filtrado de valores nulos. Muchos de los valores nulos correspondian a este atributo.

     index  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0        1         1       1  female  38.0      1      0  71.2833        C
1        3         1       1  female  35.0      1      0  53.1000        S
2        6         0       1    male  54.0      0      0  51.8625        S
3       10         1       3  female   4.0      1      1  16.7000        S
4       11         1       1  female  58.0      0      0  26.5500        S
..     ...       ...     ...     ...   ...    ...    ...      ...      ...
178    871         1       1  female  47.0      1      1  52.5542        S
179    872         0       1    male  33.0      0      0   5.0000        S
180    879         1       1  female  56.0      0      1  83.1583        C
181    887         1       1  female  19.0      0      0  30.0000        S
182    889         1       1    male  26.0      0      0  30.0000        C

[183 rows x 9 columns]

Parece que el atributo `Cabin` descarta gran parte de nuestros datos, sería interesante considerar si aporta información única.

In [ ]:
splom =go.Splom(dimensions=[dicst(label="Fare")])
go.Figure(splom)

AttributeError: 'DataFrame' object has no attribute 'Cabin'